/* taustan väri */
.navbar-custom {
    background-color:blueviolet;
}
    /* ekstin väri */
    .navbar-custom .navbar-text{
    color:#e10505;
    }/* linkin väri */
    .navbar-custom .navbar-nav .nav-link {
    color:#d72626;;
    }
    /* aktiivisen & hover-linkin väri */ 
    .navbar-custom .nav-item.active .nav-link,
    .navbar-custom .nav-item:hover .nav-link {
    color: #e70f0f;
    }