/* taustan väri */
.navbar-custom {
    background-color:rgb(242, 167, 228);
}
    /* ekstin väri */
    .navbar-custom .navbar-text{
    color:#7d2929;
    }/* linkin väri */
    .navbar-custom .navbar-nav .nav-link {
    color:#752929;;
    }
    /* aktiivisen & hover-linkin väri */ 
    .navbar-custom .nav-item.active .nav-link,
    .navbar-custom .nav-item:hover .nav-link {
    color: #7a3f3f;
    }