/* taustan väri */
.navbar-custom {
    background-color:rgb(0, 0, 0);
}
    /* Tekstin väri */
    .navbar-custom .navbar-text{
    color:#000000;
    }/* linkin väri */
    .navbar-custom .navbar-nav .nav-link {
    color:#ffffff;;
    }
    /* aktiivisen & hover-linkin väri */ 
    .navbar-custom .nav-item.active .nav-link,
    .navbar-custom .nav-item:hover .nav-link {
    color: #ffffff;
    }


    /*Navi linkkien koko ja fontti */
.nav-link {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 20px;
}